<app-breadcrumb [title]="'Stores'" [breadcrumb]="'Stores'"></app-breadcrumb>
<!--section start-->
<section class="collection section-b-space">
    <div class="container">
        <h2>STORE LOCATOR</h2>
        <div class="row partition-collection">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Chickpet</h3>
                    <!-- <img src="assets/images/collection/1.jpg" class="img-fluid" alt=""> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0179849567676!2d77.57621541408358!3d12.970700890856497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16096189d697%3A0x42896d3df2c350b3!2sManak%20Mewa!5e0!3m2!1sen!2sin!4v1597843360070!5m2!1sen!2sin&output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>1. CHICKPET</h4>
                        <p>No.232, R.T Street, Bangalore-560053</p>
                            <p>Ph: 080-22252235, 22251012, 41324774</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Jayanagar</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.696866631283!2d77.58367731408299!3d12.927194290885032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15a1f4447017%3A0x1e0a51cf26b6a92b!2sManak%20Mewa!5e0!3m2!1sen!2sin!4v1597673487431!5m2!1sen!2sin&output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>2. JAYANAGAR</h4>
                        <p>No.572, 32nd ‘D’ Cross, 11th Main Road
                            4th Block, Jaynagar, Bangalore-560011</p>
                           <p>Ph: 080-26639977</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Commercial St</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.8333667528086!2d77.60617431408375!3d12.98250749084872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1689d1a95df7%3A0x58fe51cd593e079b!2sManak%20Mewa!5e0!3m2!1sen!2sin!4v1597843423953!5m2!1sen!2sin&output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>3. COMMERCIAL STREET</h4>
                        <p>No.19, Narayan Pillai Street
                            Commercial Street, 3rd Cross
                            Bangalore-560001</p>
                            <p>Ph: 080-41753666</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Whitefield</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124419.59626335546!2d77.64532847596075!3d12.964659902282367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae12251bcc6535%3A0x986e4e02832d6f18!2sManak%20Mewa!5e0!3m2!1sen!2sin!4v1597843560420!5m2!1sen!2sin&output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>4. WHITEFIELD</h4>
                        <p>No.597, AECS C Block,
                            House No.1240 to 1339 Roads,
                            AECS Layout,(Opp.to MKRetail Co)
                            Bangalore – 560037</p>
                            <p>Ph: 080-41228036</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row partition-collection section-t-space">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Malleswaram</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.58743997257!2d77.56912401408395!3d12.998218490838383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1625121da149%3A0xceb87ded14f620e2!2sManak%20Mewa!5e0!3m2!1sen!2sin!4v1597843851622!5m2!1sen!2sin&output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>5. MALLESHWARAM</h4>
                        <p>No. 92/1, Sampige Main Road, Malleshwaram,
                            Bangalore-560003</p>
                            <p>Ph: 080-48903044</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Yelahanka</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.0074207483835!2d77.57517011408531!3d13.098716090772557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae192507d619df%3A0x74d63921611da279!2sMANAK%20MEWA!5e0!3m2!1sen!2sin!4v1597843929405!5m2!1sen!2sin&output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>6. YELAHANKA</h4>
                        <p>Shop No.02, No.2063 Asha Arcade, 16th B Cross,
                            Dairy Circle Yelahanka New Town,</p>
                            <p>Bangalore – 560064</p>
                            <p>Ph: 080-28563555</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>HSR Layout</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.8750193460173!2d77.6491377140828!3d12.915753390892585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15de103aa1c3%3A0x584902a15c969f02!2smanak%20mewa!5e0!3m2!1sen!2sin!4v1597844205318!5m2!1sen!2sin&output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>7. HSR LAYOUT</h4>
                        <p>No.2580, Shop No.06, 27th Main, 13th Cross,
                            1st Sector, HSR Layout Bangalore – 560102</p>
                            <p>Ph: 080-22586666</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
        </div>
        <h2>OUR STORES IN OTHER CITIES
        </h2>
        <div class="row partition-collection section-t-space">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Indore</h3>
                    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=No.16%20Ground%20Floor%20K.%20Sewani%20Corporate%20House%20Opp.%20Basket%20Ball%20Complex,%20Race%20Course%20Rd,%20Indore,%20Madhya%20Pradesh+(Manak%20Mewa)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>1. INDORE</h4>
                        <p>K.Sewani Corporate house, 16,
                            Opp.Basket Ball Complex,
                            Race Course Road, Indore. M.P.</p>
                            <p>Ph: 9165377777</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <h3>Surat</h3>
                    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Shubh%20Universal,%20Opp.%20Jolly%20Residency,%20Vesu%20Surat+(Manak%20Mewa)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen></iframe>
                    <div class="collection-content">
                        <h4>2. SURAT</h4>
                        <p>GF/2, Shubh Universal,
                            Opp. Jolly Residency, Vesu
                            Surat – 335009</p>
                            <p>Ph: 7737140581</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->