.title1 .title-inner1 {
    margin-bottom: 0px;
}
.vc_custom_1548150614902 {
    padding-bottom: 32px !important;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
    background: #fff;
    overflow-x: hidden;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.vc_row:before, .vc_row:after {
    content: " ";
    display: table;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vc_row:after {
    clear: both;
}
.vc_row:before, .vc_row:after {
    content: " ";
    display: table;
}
body .vc_column_container>.vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}

.vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.tbay-addon:last-child {
    margin-bottom: 0 !important;
}
.tbay-addon-categories {
    text-align: center;
}
.tbay-addon {
    margin-bottom: 40px;
    position: relative;
    padding: 0;
    background: transparent;
    clear: both;
}
.row.grid, .row.vertical, .display-products:not(.products-list) .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.tbay-addon-categories {
    text-align: center;
}
.tbay-addon-categories .item-cat {
    margin: 15px 0;
    color: #888;
    text-align: center;
    display: block;
    border: 1px solid #e5e5e5;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    width: 100%;
}
.tbay-addon-categories .cat-icon>a {
    display: block;
}
a {
    color: #323232;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.tbay-addon-categories .cat-name {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
a {
    color: #323232;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
@media (max-width: 767px)
{.tbay-addon-categories {
    text-align: center;
}}
@media (max-width: 767px)
{body, .btn-theme, .btn-default, .woof_container_inner_tags ul.woof_list label, .show-view-all a, .btn-view-all, .post .entry-category.type-1 a, .page-404 .page-content .contactus, .more_products a, .tbay-pagination-load-more a, .woocommerce .woof_submit_search_form_container button.woof_reset_search_form, .top-cart .cart_list.woocommerce-mini-cart+.woocommerce-mini-cart__total+.woocommerce-mini-cart__buttons a, .top-cart .group-button p.buttons a.button, .woocommerce button.button, .woocommerce a.button.wc-backward, .woocommerce a.woocommerce-button.view, #respond input#submit, .woocommerce #respond input#submit, .woocommerce input.button, .singular-shop .tbay-modalButton, #reviews .wcpr-filter-button, .wvs-css .variations .reset_variations, .dokan-dashboard a.add_new_attribute, .dokan-add-new-product-popup input#dokan-create-new-product-btn, #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-footer .dokan-follow-store-button, #report-abuse table input[type="submit"], form[name="export_orders"] ~ table.table .order-comments input.btn, .wcvendors-pro-dashboard-wrapper a.button, .wcvendors-pro-dashboard-wrapper .wcv-form .control-group .button, .wcv-order-header .wcv-form .control>input#clear_button, .btn-theme-2, .woocommerce-pagination a.button, .widget_price_filter .price_slider_amount .button, .tbay-addon.tbay-addon-banner .tbay-addon-content .button, .tbay-addon-newsletter input[type="submit"], .tbay-addon-newsletter button[type="submit"], .widget-newletter input[type="submit"], .widget-newletter button[type="submit"], .post-list .readmore, .post-grid .readmore, .entry-single .entry-description a, .entry-single .author-info .all-post, .post-password-form input[type=submit], #comments #respond .form-submit input, #reviews #respond .form-submit input, .wpcf7-form .form-horizontal .wpcf7-submit, .page-404 .page-content .backtohome, .woocommerce .yith-wfbt-submit-block .yith-wfbt-submit-button-remove, body table.compare-list .add-to-cart td a.button, body table.compare-list .add-to-cart td a.button+a, input#ywqa-submit-question, div#new-answer-header .ywqa_submit_answer, .woocommerce table.wishlist_table.shop_table .product-add-to-cart .add-cart a, .wishlist_table.mobile .product-add-to-cart .add-cart a, .products-list .product-block .group-buttons>div.add-cart a, .top-cart .tbay-dropdown-cart ul.cart_empty a.wc-continue, .top-cart .cart_list.woocommerce-mini-cart+.woocommerce-mini-cart__total+.woocommerce-mini-cart__buttons a.checkout, .top-cart .group-button p.buttons a.button.checkout, .woocommerce button.button[name="track"], .singular-shop div.product .single_add_to_cart_button, #sticky-menu-bar #sticky-custom-add-to-cart, .cart_totals .wc-proceed-to-checkout a.checkout-button, .coupon .box input[type=submit], .woocommerce form.login>p.last .button, .woocommerce form.register>p.last .button, .woocommerce-order-received .order-again a, .woocommerce form.checkout_coupon>p.form-row-last .button, .woocommerce-checkout-payment .place-order button.button.alt, #custom-register input.submit_button, #custom-login input.submit_button, input[type="submit"].dokan-btn, a.dokan-btn-theme, .dokan-btn-theme, .dokan-btn-success, input[type="submit"].dokan-btn[disabled], a.dokan-btn-theme[disabled], .dokan-btn-theme[disabled], .dokan-btn-success[disabled], .dokan-dashboard .wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-submit input[type=submit], #dokan-seller-listing-wrap .store-footer>a, .dokan-orders-content #dokan-order-status-form a.dokan-cancel-status, .wcmp_regi_main .register .button, #report_abuse_form button.submit-report-abuse, .vendor_sidebar .widget_wcmp_quick_info #respond input#submit, #wcmp-store-conatiner .wcmp-store-locator-wrap .wcmp-store-map-pagination .vendor_sort input[type="submit"], #wcmp-store-conatiner .wcmp-store-map-filter input[type="submit"], #wcfm-main-contentainer .wcfm-membership-wrapper input[type="submit"], #wcfm-main-contentainer .wcfm_form_simple_submit_wrapper .wcfm_submit_button, .wcfm_popup_wrapper .wcfm_popup_button, #wcfmmp-store #reviews .add_review button, .form-row input[name="apply_for_vendor_submit"], form.wcv-form .wcv-button[type="submit"], .dashboard .wcv-dashboard-navigation ~ form input[type="submit"], .shop_settings input[name="vendor_application_submit"], form[name="export_orders"] input, .wcvendors-pro-dashboard-wrapper input#update_button, .wcvendors-pro-dashboard-wrapper .wcv-search-form .wcv-button, .wcv-form .control-group .control>input.wcv-button:not(#clear_button), table.wcvendors-table-order .wcv-shade.wcv-fade .order_note_form input[type="submit"], table.wcvendors-table-order form #tracking_number_save_button, form#wcv-store-settings input#store_save_button, .wcv_store_search form input[type="submit"], .wcv_vendor_search form input[type="submit"], .wpmc-steps-wrapper ~ .wpmc-nav-wrapper button[type="button"], .product-block .name, .woocs_price_code, .woocommerce-Price-amount {
    font-size: 14px;
}}
@media (max-width: 1600px) and (min-width: 1200px){
    .row.grid[data-desktop="5"]>div, .row.vertical[data-desktop="5"]>div, .display-products:not(.products-list) .row[data-desktop="5"]>div {
        -webkit-box-flex: 20%;
        -moz-box-flex: 20%;
        -webkit-flex: 20%;
        -ms-flex: 20%;
        flex: 20%;
        max-width: 20%;
    }
}
.row.grid>div, .row.vertical>div, .display-products:not(.products-list) .row>div {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 767px)
{.owl-carousel:not(.slick-slider), .tbay-addon .row.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
}}
.row.grid, .row.vertical, .display-products:not(.products-list) .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 479px)
{.owl-carousel:not(.slick-slider)[data-mobileslick="2"]>div, .owl-carousel:not(.slick-slider)[data-mobile="2"]>div, .tbay-addon .row.grid[data-mobileslick="2"]>div, .tbay-addon .row.grid[data-mobile="2"]>div {
    -webkit-box-flex: 50%;
    -moz-box-flex: 50%;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}}
@media (max-width: 767px)
{.tbay-addon-categories .item-cat {
    margin: 8px 0;
}}
.tbay-addon-categories .cat-icon>a {
    display: block;
}

a {
    color: #323232;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.tbay-addon-categories .item-cat {
    margin: 15px 0;
    color: #888;
    text-align: center;
    display: block;
    border: 1px solid #e5e5e5;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    width: 100%;
}
@media (max-width: 767px)
{.owl-carousel:not(.slick-slider)>div, .tbay-addon .row.grid>div {
    padding: 0 8px !important;
    width: auto;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}}
@media (max-width: 480px)
{.row.grid[data-mobile="2"]>div, .row.vertical[data-mobile="2"]>div, .display-products:not(.products-list) .row[data-mobile="2"]>div {
    -webkit-box-flex: 50%;
    -moz-box-flex: 50%;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}}
.row.grid>div, .row.vertical>div, .display-products:not(.products-list) .row>div {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}