<app-breadcrumb [title]="'Contact'" [breadcrumb]="'Contact'"></app-breadcrumb>
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=No.16%20Ground%20Floor%20K.%20Sewani%20Corporate%20House%20Opp.%20Basket%20Ball%20Complex,%20Race%20Course%20Rd,%20Indore,%20Madhya%20Pradesh+(Manak%20Mewa)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 916 - 537 - 7777</p>
                                <p>+91 942 - 505 - 4390</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Manak Mewa, No.16 Ground Floor K. Sewani Corporate House Opp. Basket Ball Complex, Race Course Rd, Indore</p>
                                <p>Madhya Pradesh 452001</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Email</h6>
                            </div>
                            <div class="media-body">
                                <p>shreemanakmewa@gmail.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Telephone</h6>
                            </div>
                            <div class="media-body">
                                <p>0731 - 4995961</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Send Your Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <h2>OUR STORES IN BANGALORE
        </h2>
        <div class="row partition-collection">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <!-- <img src="assets/images/collection/1.jpg" class="img-fluid" alt=""> -->
                    <div class="collection-content">
                        <h4>1. CHICKPET</h4>
                        <p>No.232, R.T Street, Bangalore-560053</p>
                            <p>Ph: 080-22252235, 22251012, 41324774</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>2. JAYANAGAR</h4>
                        <p>No.572, 32nd ‘D’ Cross, 11th Main Road
                            4th Block, Jaynagar, Bangalore-560011</p>
                           <p>Ph: 080-26639977</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>3. COMMERCIAL STREET</h4>
                        <p>No.19, Narayan Pillai Street
                            Commercial Street, 3rd Cross
                            Bangalore-560001</p>
                            <p>Ph: 080-41753666</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>4. WHITEFIELD</h4>
                        <p>No.597, AECS C Block,
                            House No.1240 to 1339 Roads,
                            AECS Layout,(Opp.to MKRetail Co)
                            Bangalore – 560037</p>
                            <p>Ph: 080-41228036</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row partition-collection section-t-space">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>5. MALLESHWARAM</h4>
                        <p>No. 92/1, Sampige Main Road, Malleshwaram,
                            Bangalore-560003</p>
                            <p>Ph: 080-48903044</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>6. YELAHANKA</h4>
                        <p>Shop No.02, No.2063 Asha Arcade, 16th B Cross,
                            Dairy Circle Yelahanka New Town,</p>
                            <p>Bangalore – 560064</p>
                            <p>Ph: 080-28563555</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>7. HSR LAYOUT</h4>
                        <p>No.2580, Shop No.06, 27th Main, 13th Cross,
                            1st Sector, HSR Layout Bangalore – 560102</p>
                            <p>Ph: 080-22586666</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
        </div>
        <h2>OUR STORES IN OTHER CITIES
        </h2>
        <div class="row partition-collection section-t-space">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>1. INDORE</h4>
                        <p>K.Sewani Corporate house, 16,
                            Opp.Basket Ball Complex,
                            Race Course Road, Indore. M.P.</p>
                            <p>Ph: 9165377777</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <div class="collection-content">
                        <h4>2. SURAT</h4>
                        <p>GF/2, Shubh Universal,
                            Opp. Jolly Residency, Vesu
                            Surat – 335009</p>
                            <p>Ph: 7737140581</p>
                        <!-- <a [routerLink]="['/home/categories']" class="btn btn-outline">shop now !</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->